{% load static %}
<!DOCTYPE html>
<html lang="en">

    <!-- Head Start -->

    <head>
    <title>HexTrack - PulseChain Portfolio Tracker - About</title>
    <meta content="Hextrack is the best way to monitor your portfolio for coins listed on Pulsechain - PRC20's listed on the PulseX exchange are supported. View live price data and personalized charts based off your current positions.'" name="description">
    {% include 'head.html' %}
    </head>

    <!-- Canonical -->
    <link rel="canonical" href="https://hextrack.app/about/" />

    <!-- Head End -->


        <!-- Navbar & Hero Start -->
        {% include 'navbar.html' %}
        <!-- Navbar & Hero End -->

<body id="bootstrap-overrides">

        <!-- Donate Start -->
        <div class="container-xxl py-5" id="">
            <div class="container py-5 px-lg-5">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h1 id= "features" class="text-primary-gradient fw-medium">About Us</h1>
                      <p class="mb-4">I joined the Hex community 1 year ago. HexTrack is my contribution back to this great community. I seen a need to track my own portfolio but current apps are slow to implement new coins; hence why HexTrack was born. I invested a lot of time and a bit of money creating something I believed people of this community could use/benefit from. If you enjoy using this webapp, please show your appreciation by following us on Twitter @Hextrackapp. If you have any suggestions or would like us to add a certain coin for you, please visit our "Contact Us" page. If you'd like to contribute to the growth of HexTrack, please consider sharing our social media handles or donate to support the cost of running such application.' </p>
					<h5><a href='https://twitter.com/hextrackapp' class="text-primary-gradient fw-medium animated slideInDown donatetxt">Please Contact Us Through Twitter</h5>
                    </div>
			    </div>
            </div>
        
        <!-- Donate End -->


        <!-- Footer Start -->
        {% include 'footer.html' %}
        <!-- Footer End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-lg-square back-to-top pt-2"><i class="bi bi-arrow-up text-white"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>

    <!--Light & Dark Mode Script -->
    {% include 'darkmode.html' %}

</body>

</html>