{% load static %}
<!DOCTYPE html>
<html lang="en">

    <!-- Head Start -->

    <head>
    <title>HexTrack - PulseChain Portfolio Tracker - Dashboard</title>
    <meta content="View portfolio related data on our dashboard. Coins listed on Pulsechain and Pulsex are supported." name="description">
    {% include 'head.html' %}
    </head>

    <!-- Canonical -->
    <link rel="canonical" href="https://hextrack.app/dashboard/" />

    <!-- Head End -->


     <!-- Navbar & Hero Start -->
        {% include 'navbar.html' %}
      <!-- Navbar & Hero End -->

<body id="bootstrap-overrides">

        <!-- Dashboard Start -->
            <div class="container-xxl py-5" id="bootstrap-overrides" style="margin-top: 60px">
                <div class="container py-5 px-lg-5">
                    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                        <h2 class="text-primary-gradient-light glow">Dashboard</h2>
                            <h5 class="portcolor portpadd">{{user.username}}'s Portfolio</h5>

                        <!-- Graphline chart Start -->
                        <div class="card card-body formtable linechart" style="margin-bottom: 20px">
                            <h4 class="text-primary-gradient fw-medium loginmg">Portfolio Value (${{portval}})
                                <a href="../plot" target="_blank">
                                <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right-square" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm5.854 8.803a.5.5 0 1 1-.708-.707L9.243 6H6.475a.5.5 0 1 1 0-1h3.975a.5.5 0 0 1 .5.5v3.975a.5.5 0 1 1-1 0V6.707l-4.096 4.096z"/>
                                </svg>
                                </a>
                            </h4>

                                <div>
                                {{chart |safe}}
                                </div>
                        </div>

                        <!-- Testing using a card -->
                        <div class="card" style="width: 18rem;">
                          <img class="card-img-top" src="..." alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                          </div>
                        </div>

                        <!-- Sponsor Start -->
                        <h6 class="text-primary-gradient-light sponsor wow bounceInUp" data-wow-delay=".9s">Sponsored</h6>
                            <div class="sponsorImg sponsorbanner wow bounceInUp" data-wow-delay=".8s">
                                <a href="https://www.reflhexion.com/"><figure><img src="{% static 'img/reflhexion.jpg' %}"></a>
                            </div>
                        

                        <!-- % days ago Start -->
                        <div class="card card-body tabletx formtable" style="margin-bottom: 20px">
                            <h4 class="text-primary-gradient fw-medium loginmg" style="margin-bottom: 20px">Portfolio Stats</h4>
                            <table class="table table-sm tabletxt">
                                <tr>
                                    <th class="titlecol fw-medium loginmg">1 Day</th>
                                    <th class="titlecol fw-medium loginmg">7 Days</th>
                                    <th class="titlecol fw-medium loginmg">15 Days</th>
                                    <th class="titlecol fw-medium loginmg">30 Days</th>
                                    <th class="titlecol fw-medium loginmg">60 Days</th>
                                </tr>

                                <tr>
                                    <td class="status">{{oneday}}%</td>
                                    <td class="status">{{sevendays}}%</td>
                                    <td class="status">{{fifteendays}}%</td>
                                    <td class="status">{{thirtydays}}%</td>
                                    <td class="status">{{sixtydays}}%</td>
                                </tr>

                            </table>
                        </div>

                        

                        <!-- Holdings Start -->
                        <div class="card card-body tabletxt formtable" style="margin-bottom: 20px">
                            <h4 class="text-primary-gradient fw-medium loginmg" style="margin-bottom: 20px">Holdings</h4>
                            <table class="table table-sm tabletxt">
                                <tr>
                                    <th class="titlecol fw-medium loginmg">Ticker</th>
                                    <th class="titlecol fw-medium loginmg">Cost Average</th>
                                    <th class="titlecol fw-medium loginmg">Current Price</th>
                                    <th class="titlecol fw-medium loginmg">Quantity</th>
                                    <th class="titlecol fw-medium loginmg">Current Value (USD)</th>
                                    <th class="titlecol fw-medium loginmg">% Change in Value</th>

                                </tr>

                                {% for pos in aggregate_positions %}
                                <tr>
                                    <td class="text-primary-gradient">{{pos.ticker}}</td>
                                    <td class="titlecol">{{pos.cost}}</td>
                                    <td class="titlecol">{{pos.curPrice}}</td>
                                    <td class="titlecol">{{pos.quantity}}</td>
                                    <td class="titlecol">{{pos.curValue}}</td>
                                    <td class="status">{{pos.percent}}%</td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>

                        <!-- Piechart Start -->
                        {% if aggregate_positions %}
                    <div>
                        <div class="card card-body text-center wow fadeInUp formtable" data-wow-delay="0.2s" style="margin-bottom: 20px" >
                            <h2 class="text-primary-gradient fw-medium">Charts</h2>
                            <div style="{display: flex; position: relative; display: block; width: 100%; height: 100%; flex-direction: column; overflow: hidden;}">
                                {{piechart |safe}}
                            </div>
                        </div>
                    </div>
                        {% endif %}

                        <!-- Coin Prices Start -->

                          <div class="card card-body text-center wow fadeInUp formtable" data-wow-delay="0.2s" style="margin-bottom: 20px">
                              <h2 class="text-primary-gradient fw-medium loginmg" style="margin-bottom: 20px">Coin Prices</h2>
	                          <table class="table table-sm tabletxt">
		                            <tr>
			                            <th class="titlecol fw-medium loginmg">Ticker</th>
			                            <th class="titlecol fw-medium loginmg">Name</th>
			                            <th class="titlecol fw-medium loginmg">Price (USD)</th>
		                            </tr>

                            
                                        {% for price in prices %}
                                        <tr>
                                            <td class="text-primary-gradient">{{price.symbol}}</td>
                                            <td class="titlecol">{{price.name}}</td>
                                            <td class="text-primary-gradient">{{price.derivedUSD}}</td>
                                        </tr>
                                        {% endfor %}

	                          </table>
                          </div>

                        <!-- Coin Prices End -->

                    </div>
                </div>
            </div>
        <!-- Dashboard End -->


        <!-- Footer Start -->
        {% include 'footer.html' %}
        <!-- Footer End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-lg-square back-to-top pt-2"><i class="bi bi-arrow-up text-white"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>

    <!--Light & Dark Mode Script -->
    {% include 'darkmode.html' %}

    <!--Negative Script -->
        <script>
        $(document).ready(function() {
            $(".status").each(function(){
                var value = parseInt ( $( this).html() );
                if (value < 0){
                    $(this).css('color', '#ff556c', 'important');
                }
            });
        });
    </script>



</body>

</html> 