{% load static %}
<!DOCTYPE html>
<html lang="en">

    <!-- Head Start -->

    <head>
    <title>HexTrack - PulseChain Portfolio Tracker - Dashboard</title>
    <meta content="View portfolio related data on our dashboard. Coins listed on Pulsechain and Pulsex are supported." name="description">
    {% include 'head.html' %}
    </head>

    <!-- Canonical -->
    <link rel="canonical" href="https://hextrack.app/dashboard/" />

    <!-- Head End -->


     <!-- Navbar & Hero Start -->
        {% include 'navbar.html' %}
      <!-- Navbar & Hero End -->

<body id="bootstrap-overrides">

        <!-- Dashboard Start -->
            <div class="container-xxl py-5" id="bootstrap-overrides" style="margin-top: 60px">
                <div class="container py-5 px-lg-5">
                    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                        <h2 class="text-primary-gradient-light glow">UF Lost and Found Item Postings</h2>
                            <h5 class="portcolor portpadd">Here's what people have listed so far</h5>

                        <!-- Testing using a card -->
                        <div class="card" style="width: 18rem;">
                          <img class="card-img-top" src="{% static "img/GatorLostLogo.png" %}" alt="Card image cap">
                          <div class="card-body">
                            <h3 class="card-title">Title here</h3>
                            <h5 class="card-title">Location here</h5>
                            <p class="card-text">Description here: Item is red, large, and was found next to a tree in Plaza near Lib West.</p>
                            <a href="#" class="btn btn-primary">Contact</a>
                          </div>
                        </div>
                        


                        





                        <!-- Coin Prices Start -->

                          <div class="card card-body text-center wow fadeInUp formtable" data-wow-delay="0.2s" style="margin-bottom: 20px">
                              <h2 class="text-primary-gradient fw-medium loginmg" style="margin-bottom: 20px">Coin Prices</h2>
	                          <table class="table table-sm tabletxt">
		                            <tr>
			                            <th class="titlecol fw-medium loginmg">Ticker</th>
			                            <th class="titlecol fw-medium loginmg">Name</th>
			                            <th class="titlecol fw-medium loginmg">Price (USD)</th>
		                            </tr>

                            
                                        {% for price in prices %}
                                        <tr>
                                            <td class="text-primary-gradient">{{price.symbol}}</td>
                                            <td class="titlecol">{{price.name}}</td>
                                            <td class="text-primary-gradient">{{price.derivedUSD}}</td>
                                        </tr>
                                        {% endfor %}

	                          </table>
                          </div>

                        <!-- Coin Prices End -->

                    </div>
                </div>
            </div>
        <!-- Dashboard End -->


        <!-- Footer Start -->
        {% include 'footer.html' %}
        <!-- Footer End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-lg-square back-to-top pt-2"><i class="bi bi-arrow-up text-white"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>

    <!--Light & Dark Mode Script -->
    {% include 'darkmode.html' %}

    <!--Negative Script -->
        <script>
        $(document).ready(function() {
            $(".status").each(function(){
                var value = parseInt ( $( this).html() );
                if (value < 0){
                    $(this).css('color', '#ff556c', 'important');
                }
            });
        });
    </script>



</body>

</html> 