{% load static %}
<!DOCTYPE html>
<html lang="en">

    <!-- Head Start -->

    <head>
    <title>HexTrack - PulseChain Portfolio Tracker - Donate</title>
    <meta content="Donate to support Hextrack the best Pulsechain portfolio tracker" name="description">
    {% include 'head.html' %}
    </head>

    <!-- Canonical -->
    <link rel="canonical" href="https://hextrack.app/donate/" />

    <!-- Head End -->


        <!-- Navbar & Hero Start -->
        {% include 'navbar.html' %}
        <!-- Navbar & Hero End -->
<body id="bootstrap-overrides">

        <!-- Donate Start -->
            <div class="container py-5 px-lg-5" style="margin-top: 100px;">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h1 class="text-primary-gradient fw-medium">Donate</h1>
                        <h3 class="mb-4 donate_htag">We greatly appreciate all donations & support.</h3>
                      <p class="mb-4">Donations in HEX, will be staked the average stake length up to 5555; with a staking ladder. Server costs and upkeep are not cheap, so any and all donations are greatly appreciated. However, as a fellow Hexican; I will do my upmost best to maintain and keep HexTrack alive and thriving. Below is an ETH address, all ERC20 and PRC20 tokens including ETH and PLS can be sent here: </p>
					<h5 class="text-primary-gradient fw-medium animated slideInDown donatetxt">0x117f4e25Ed063180b69eC4c1188195Ace224b216</h5>
                </div>
            </div>
        <!-- Donate End -->


        <!-- Footer Start -->
        {% include 'footer.html' %}
        <!-- Footer End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-lg-square back-to-top pt-2"><i class="bi bi-arrow-up text-white"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>

    <!--Light & Dark Mode Script -->
    {% include 'darkmode.html' %}

</body>

</html>