{% load static %}


    <!-- Head Start -->

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="author" content="Hextrack.app"/>
    <meta name="page-topic" content="PulseChain Portfolio Tracker"/>
    <meta content="PulseChain Portfolio Tracker Monitor Chart Positions Prices" name="keywords">
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="HexTrack - Pulsechain Portfolio Tracker"/>
    <meta name="og:description" content="Track your Pulsechain portfolio and view position and price data through your dashboard.">
    <meta name="og:image" content="https://hextrack.app/static/img/about_dark.png">
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:title" content="HexTrack.app"/>

    <!-- Favicon -->
    <link href="{% static 'img/favicon.ico' %}" rel="icon">

    <!-- Google Web Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&family=Jost:wght@500;600;700&display=swap" rel="stylesheet"> 

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link rel="stylesheet" href="{% static 'lib/animate/animate.min.css' %}">

    <!-- Customized Bootstrap Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Template Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">


    <!-- Head End -->
